{% extends "household_base.html" %}
{% block title %}
  Map view
{% endblock title %}

{% block content %}
 <div id="report" class="section active">
        <h2>Report Waste</h2>
        <div class="form-group">
          <label>Waste Type</label>
          <select id="wasteType" onchange="showSubTypes()">
            <option value="">-- Select Waste Type --</option>
            <option value="organic">Organic</option>
            <option value="nonorganic">Non-Organic</option>
            <option value="ewaste">E-Waste</option>
          </select>
        </div>
        <div id="subTypes"></div>
        <div class="form-group">
          <label>Description</label>
          <textarea placeholder="Write short description..."></textarea>
        </div>
        <button id="locationBtn">Enable Location</button>
        <button id="reportBtn" disabled>Submit Report</button>
        <div class="notification" id="vehicleNotif">Vehicle will arrive between 2 PM - 4 PM</div>
      </div>
        
      {% endblock content %}
      {% block js %}
        <script src="static 'script.js'"></script>
      {% endblock js %}